body {
    font-family: undertale;
    color: lightgreen;
    background-color: rgba(0, 0, 0, 0.792);
    /*background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');*/
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 700;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

a {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('img/skyline-tokyo1.png');
    background-size: cover;
    color: #fff;
    height: 400px;
    text-shadow: 2px 2px 5px red;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    background-color: #ffffff;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}

.btn-secondary {
    background-color: #2a70e0;
    color: #ffffff;
    margin: 0 0 30px;
}

.portrait {
    width: 350px;
    height: 300px;
}

figure img {
    width: 100%;
    height: auto;
}

figure {
    margin-bottom: 30px;
}

footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

/* Specifics */

#my-game {
    /* optional */
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

#my-game2 {
    /* optional */
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

.invisible {
    display: none;
    visibility: hidden;
}

#header {
    background-image: none;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#my-name {
    text-shadow: 2px 2px 5px red;
}

#my-name-jp {
    text-shadow: 2px 2px 5px red;
}

.img-project {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* Links */

/* unvisited link */
a:link {
    color: hotpink;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: gray;
}

::-moz-selection {
    /* Code for Firefox */
    color: lightpink;
    background: gray;
}

::selection {
    color: lightpink;
    background: gray;
}

/* Fonts */

@font-face {
    font-family: 'undertale';
    src: url('fonts/undertale-font/DeterminationMonoWeb.woff') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('fonts/undertale-font/DeterminationMonoWeb.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

